{% extends "base.html" %}
{% block title %} Get User {% endblock %}
{% block body %}
<div class="row">
            <div class="col-lg-12">
        {% block leftbody %}
    <div class="p-4 shadow-sm">
    <div class="row">
        <div class="col">
        <h3>Get User</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <form method="POST" action="{{ url_for('qa.getuser') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class_='form-control') }}
            {% if form.username.errors %}
                {% for e in form.username.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <input class="btn btn-primary" type="submit" value="Find" />
        </form>
        </div>
    </div>
    </div>
    {% endblock %}
    </div>
    {% block rightbody %}
{% endblock %}
</div>
{% endblock %}