{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}{{ group.title }}{% endblock %}
{% block leftbody %}
<div class="row">
    <div class="col bg-light">
        <h1 class="text-center">Requests With Group {{ group.title }}</h1>
    </div>
        <div class="p-4 shadow-sm">
    <div class="row">
        <div class="col">
            <h4>Subgroup ({{ subgroups | length }})</h4>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            {% if subgroups | length == 0 %}
            <p>There are no subgroups for this post.</p>
            {% else %}
            {% for i in subgroups %}
            <div class="shadow-sm p-2">
                <dd>{{ i.title }}</dd>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>
{{ macros.render_requests(requests, pagination=False) }}

{% endblock %}
