{% extends "base.html" %}
{% block title %} Create Payment {% endblock %}
{% block body %}
<div class="row">
            <div class="col-lg-12">
        {% block leftbody %}
    <div class="p-4 shadow-sm">
    <div class="row">
        <div class="col">
        <h3>Request</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <form method="POST" action="{{ url_for('qa.pay_schdule', id=request.id) }}">
            {{ form.hidden_tag() }}

            <div class="form-group">
            {{ form.value.label }}
            {{ form.value(class_='form-control') }}
            {% if form.value.errors %}
                {% for e in form.value.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
            {{ form.date.label }}
            {{ form.date(class_='form-control') }}
            {% if form.date.errors %}
                {% for e in form.date.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
            {{ form.method.label }}
            {{ form.method(class_='form-control') }}
            {% if form.method.errors %}
                {% for e in form.method.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <input class="btn btn-primary" type="submit" value="Set schdule" />
        </form>
        </div>
    </div>
    </div>
    {% endblock %}
    </div>
    {% block rightbody %}
{% endblock %}
</div>
{% endblock %}