{% extends "base.html" %}
{% block title %}{{ request.title }}{% endblock %}
{% block leftbody %}
<div class="p-4 shadow-sm">
    <div class="row">
        <div class="col">
            <h1>{{ request.title }}</h1>
            {% if current_user.id == request.user_foreignkey %}
            <a href="{{ url_for('.edit_post', id=request.id) }}" class="btn btn-primary">Edit</a>
            {% endif %}
            {% if request.type_foreignkey == 1 and current_user.has_role('counselor') and current_user.id != request.user_foreignkey %}
                <a href="{{ url_for('qa.pay_schdule', id=request.id) }}" class="btn btn-primary">Send a suggestion</a>
            {% endif %}
        </div>
    </div>
    <div class="row border-bottom">
        <div class="col-lg-6">
            <a href="{{ url_for('qa.requests_by_user', username=request.user.username) }}">@{{ request.user.username }}</a>
            <h6 class="text-muted">{{ request.pub_date.strftime('%Y-%m-%d') }}</h6>
            <h6 class="text-left">{% if request.paid  %}Paid{% else %}Free{% endif %}</h6>
        </div>
        <div class="col-lg-6">
            <p class="text-right"><a href="{{ url_for('qa.requests_by_group', group_title=request.group.title) }}">#{{ request.group.title }}</a></p>
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col">
            <p>{{ request.content | safe }}</p>
        </div>
    </div>
</div>
{% if not current_user.is_anonymous %}
{% if not current_user.id == request.user_foreignkey %}
<div class="p-4 shadow-sm">
    <div class="row">
        <div class="col">
            <h4>New Respond:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" action="{{ url_for('qa.request', request_id=request.id) }}">
                   {{ form.hidden_tag() }}
                   <div class="form-group">
                       {{ form.content.label }}
                       {% if form.content.errors %}
                           {% for e in form.content.errors %}
                               <p class="help-block">{{ e }}</p>
                           {% endfor %}
                       {% endif %}
                       {{ form.content(class_='form-control') }}
                       </div>
                   <input class="btn btn-primary" type="submit" value="Add Respond">
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
<div class="p-4 shadow-sm">
    <div class="row">
        <div class="col">
            <h4>Responds ({{ zz | length }})</h4>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            {% if zz | length == 0 %}
            <p>There are no comments for this post.</p>
            {% else %}
            {% for i, j in zz %}
            <div class="shadow-sm p-2">
                <a href="{{ url_for('qa.requests_by_user', username=j.username) }}">
                    <h5>{{ j.username }}</h5></a>
                <dt>{{ i.date.strftime('%Y-%m-%d') }}</dt>
                <dd>{{ i.content }}</dd>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}