{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block title %} {{ user.username }}'s Requests{% endblock %}
{% block leftbody %}
<div class="container">
  <div class="row">
    <div class=".col-auto align-left">
      <ul class="list-group">
        <li class="list-group-item active">Requests By {{ user.username }}</li>
        <li class="list-group-item">Firstname: {{ user.firstname }}</li>
        <li class="list-group-item">Lastname: {{ user.lastname }}</li>
        <li class="list-group-item">Phone Number: {{ user.phone_number }}</li>
        <li class="list-group-item">Age: {{ user.age }}</li>
        <li class="list-group-item">Roles: {% for i in user.roles %} {{ i.name | capitalize}} {% endfor %}</li>
      </ul>
    </div>
  </div>
</div>
{{ macros.render_requests(requests, pagination=False) }} {% endblock %}
